<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="index.css" />
		<title>Game Management</title>
	</head>
	<body>
		<div class="cont">
			<h2>Game Management</h2>
			<div class="button">
                <a href="/view">Jump In!</a>
            </div>
		</div>
	</body>
</html>
